body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgray;
}

h1 {
    text-align: center;
    color: blue;
}

main {
    position: relative;
    top: 5em;
    width: 30%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding-top: 1em;
    border: 1px solid red;
}

#buttons {
    margin-top: 20px;
    padding-left: 12px;
}

#radio__buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 9%;
}

#isixhosa,
#english,
#portuguese {
    float: right;
}

#input__value {
    width: 80%;
    height: 30px;
    margin-left: 9%;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border: 2px solid blue;
    outline: none;
}

#greet__button {
    height: 2em;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    background-color: green;
    color: #fff;
}

#reset__button {
    height: 2em;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    background-color: red;
    color: #fff;
}

#list__button {
    height: 2em;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    background-color: blue;
    color: #fff;
}

.greeted__names__heading {
    margin-left: 9%;
    color: blue;
    font-size: 18px;
}

.output {
    position: relative;
    top: 16em;
    left: 5px;
    width: 30%;
    height: 9em;
    text-align: center;
    font-weight: 900;
    border: 3px solid #000;
}

#show__greeted {
    position: absolute;
    right: 5px;
    top: 38%;
    bottom: 12em;
    border: 3px solid green;
    width: 30%;
    overflow-wrap: break-word;
    min-height: 9em;
    max-height: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 19px;
}

label {
    margin-bottom: 5px;
}

#correct__message {
    color: #fff;
}

#error__message {
    color: red;
}

@media only screen and (max-width: 1024px) {
    main {
        padding-bottom: 2em;
    }
}

@media only screen and (max-width: 920px) {
    main {
        top: 20em;
        width: 50%;
        height: 20em;
    }

    .output {
        left: 20em;
    }

    .output {
        left: 20em;
    }

    #show__greeted {
        left: 18em;
    }
}

@media only screen and (max-width: 770px) {
    main {
        top: 10em;
        width: 50%;
        height: 20em;
    }

    .output {
        top: 8em;
        left: 17em;
        height: 12em;
    }


    #show__greeted {
        top: 40em;
        width: 50%;
        left: 25%;
    }
}

@media only screen and (max-width: 550px) {
    main {
        top: 2.5em;
        width: 80%;
        height: 20em;
        padding-bottom: 3em;
    }

    .output {
        top: 2em;
        left: 10em;
        height: 10em;
        width: 40%;
    }


    #show__greeted {
        top: 32em;
        width: 50%;
        left: 25%;
        min-height: 5em;
    }
}

@media only screen and (max-width: 375px) {

    .output {
        width: 80%;
        min-height: 6em;
        max-height: 100%;
        left: 2em;
    }

    main {
        width: 95%;
        left: 0;
    }

    #show__greeted {
        top: 32em;
        width: 70%;
        left: 2em;
        min-height: 10em;
        max-height: 100%;
    }
}